.caixa_width {
  border: 4px solid grey;
  margin: center;
}

.caixa_height{
    height: 20px;
    color: lightgreen;

}

.caixa_margin{
   margin: center;
   color: red;
}

.caixa_padding{
  padding: 15px;
  margin: center;
}